/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Page Styling */
body {
    background-color: #f4f4f4;
    color: #333;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
}

/* Main Container */
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    flex-direction: column;
    align-items: flex-start;
}

/* Title Styling */
h1 {
    font-size: 26px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #2c3e50;
    text-align: left;
    width: 100%;
}

h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

h4 {
    font-size: 26px;
    margin-top: 20px;
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

label {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #2c3e50;
    width: 100%;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}

/* Text Input Styling */
input[type="text"] {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 540px;
    font-size: 15px;
    text-align: center;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Focused state */
input[type="text"]:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    outline: none;
}

/* Hover state */
input[type="text"]:hover {
    border-color: #2980b9;
}

/* Optional: Styling the placeholder text */
input[type="text"]::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Regular button styles */
button {
    background-color: #3498db;
    color: white;
    border: none;
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.2s ease;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Hover state with transform effect */
button:hover {
    background-color: #2980b9;
}

/* Focused state */
button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

/* Active state */
button:active {
    background-color: #2980b9;
    transform: translateY(1px);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.remove-btn {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: red;
    margin-left: 7px;
    transition: color 0.2s ease-in-out, transform 0.2s;
}

.remove-btn:hover {
    color: darkred;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

#exit-btn, #save-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 0;
}

/* Hover Effects */
#exit-btn:hover {
    background-color: darkred;
}
#save-btn:hover {
    background-color: darkgreen;
}

/* Checkbox Styling */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    appearance: none;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Checkbox Checked State */
input[type="checkbox"]:checked {
    background-color: #3498db;
    border-color: #2980b9;
}

/* Hover State */
input[type="checkbox"]:hover {
    border-color: #2980b9;
}

/* Overlay styling */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Layer below the settings window */
    display: none; /* Hidden by default */
}

/* Settings icon styling */
#settings-icon {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    z-index: 1010;
}

/* Settings popup styling */
#settings-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}

/* Show overlay when the settings window is active */
#settings-popup.active {
    display: block;
}

/* Show the overlay when the popup is active */
#overlay.active {
    display: block;
}

/* Centering container */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

/* Table Header Styling */
th {
    background-color: #3498db;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Table Data Formatting */
td {
    padding: 8px 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd;
    width: 100px;
}

/* Zebra Striping */
tr:nth-child(even) {
    background-color: #f4f4f4;
}

/* Hover Effect */
tr:hover {
    background-color: #e0e0e0;
}

#scan-source {
    font-size: 26px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #2c3e50;
    text-align: left;
    width: 100%;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Dark Mode Toggle Button */
#darkModeToggle {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
    background: transparent;
    border: none;
    outline: none;
}

/* For the ".json" text next to the input */
.dark-mode #iocFilename + label {
    color: white;
}

/* For the label "IOC Filename:" */
.dark-mode h3 {
    color: white;
}

/* For the title "Create a New IOC File" */
.dark-mode h1 {
    color: white;
}

/* Dark Mode Text Input Text Color */
.dark-mode input[type="text"] {
    color: black;
}

.dark-mode table {
    background-color: #1e1e1e;
    color: #ffffff;
}

/* Table Row Zebra Striping */
.dark-mode table tr:nth-child(odd) {
    background-color: #2a2a2a;
}

.dark-mode table tr:nth-child(even) {
    background-color: #333333;
}

/* Table Header Styling */
.dark-mode th {
    background-color: #3498db;
    color: white;
}

/* Table Row and Cell Styling */
.dark-mode td {
    padding: 10px;
    border: 1px solid #444444;
}

/* Dark Mode Table Row Hover Effect */
.dark-mode tr:hover {
    background-color: #444444;
}

.dark-mode tr:nth-child(odd):hover {
    background-color: #555555;
}

.dark-mode tr:nth-child(even):hover {
    background-color: #666666;
}

.dark-mode input {
    background-color: #f0f0f0;
    color: inherit;
    border: 1px solid #ccc;
}