<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOC Scanner</title>
    <meta name="author" content="Illia Bulhar">
    <link rel="stylesheet" href="static/css/styles.css">
    <script>
        function toggleScanOptions(option) {
            let sectionId = "";
            let buttons = document.querySelectorAll(".main-buttons");

            // Remove active class from all buttons
            buttons.forEach(button => {
                button.classList.remove("active");
            })

            // Map the button option to the correct section ID
            if (option === "new") {
                sectionId = "newScanSection";
            } else if (option === "upload") {
                sectionId = "uploadResultsSection";
            } else if (option === "fast") {
                sectionId = "fastScanSection";
            }

            const section = document.getElementById(sectionId);

            if (!section) return;

            if (section.style.display === "none" || section.style.display === "") {
                document.getElementById("newScanSection").style.display = "none";
                document.getElementById("uploadResultsSection").style.display = "none";
                document.getElementById("fastScanSection").style.display = "none";

                section.style.display = "block";

                document.querySelector(`button[onclick="toggleScanOptions('${option}')"]`).classList.add("active");
            } else {
                section.style.display = "none";
            }
        }


        function displayResults(results) {
            const table = document.getElementById("resultsTable");
            const tbody = table.querySelector("tbody");
            tbody.innerHTML = "";

            window.currentResults = results;

            if (results.length === 0) {
                const row = document.createElement("tr");
                const cell = document.createElement("td");
                cell.colSpan = 6;
                cell.textContent = "No results found.";
                row.appendChild(cell);
                tbody.appendChild(row);
            } else {
                results.forEach(result => {
                    const row = document.createElement("tr");

                    const cells = [
                        result.filepath || "N/A",
                        result.filename || "N/A",
                        result.size || "N/A",
                        result.hashes?.md5 || "N/A",
                        result.hashes?.sha1 || "N/A",
                        result.hashes?.sha256 || "N/A",
                        result.matched_strings ? result.matched_strings.join(", ") : "N/A",
                        result.matched?.join(", ") || "N/A"
                    ];

                    cells.forEach(cellText => {
                        const cell = document.createElement("td");
                        cell.textContent = cellText;
                        row.appendChild(cell);
                    });

                    tbody.appendChild(row);
                });
            }

            document.getElementById("resultsHeader").style.display = 'block';
            table.style.display = 'table';
            toggleClearButton();

            // Reset sorting state
            currentSortColumn = -1;
            sortDirection = 1;
            document.querySelectorAll('#resultsTable th').forEach(th => {
                th.classList.remove('asc', 'desc');
            });
        }


        // Function to clear results table
        function clearResults() {
            const table = document.getElementById('resultsTable');
            const tbody = table.querySelector('tbody');
            const clearContainer = document.getElementById('clearResultsContainer');
            const resultsTitle = document.getElementById('resultsHeader');
            const resultsFileName = document.getElementById('resultsFileName');
            const associatedIocFileName = document.getElementById('associatedIocFileName');

            tbody.innerHTML = '';

            table.style.display = 'none';
            clearContainer.style.display = 'none';

            if (resultsTitle) resultsTitle.style.display = 'none';
            if (resultsFileName) resultsFileName.style.display = 'none';
            if (associatedIocFileName) associatedIocFileName.style.display = 'none';
        }


        // Results table sorting functionality
        let currentSortColumn = -1;
        let sortDirection = 1; // 1 for ascending, -1 for descending

        // Function to sort the results table
        function sortTable(columnIndex) {
            const table = document.getElementById('resultsTable');
            const tbody = table.querySelector('tbody');
            const rows = Array.from(tbody.rows);
            const headers = table.querySelectorAll('th');

            headers.forEach(header => {
                header.classList.remove('asc', 'desc');
            });

            if (currentSortColumn === columnIndex) {
                sortDirection *= -1;
            } else {
                currentSortColumn = columnIndex;
                sortDirection = 1;
            }

            headers[columnIndex].classList.add(sortDirection === 1 ? 'asc' : 'desc');

            rows.sort((rowA, rowB) => {
                const cellA = rowA.cells[columnIndex].textContent;
                const cellB = rowB.cells[columnIndex].textContent;

                if (columnIndex === 2) {
                    const numA = parseInt(cellA) || 0;
                    const numB = parseInt(cellB) || 0;
                    return (numA - numB) * sortDirection;
                }

                return cellA.localeCompare(cellB) * sortDirection;
            });

            rows.forEach(row => tbody.appendChild(row));
        }


        // Function to handle IOC file click
        function viewIocFile(filename) {
            const url = `/view_ioc/${filename}`;
            window.open(url, '_blank');
        }

        // Function to load data to a results table from results file
        function loadResultsFile(filename) {
            fetch(`/load_results/${filename}`)
                .then(response => response.json())
                .then(data => {
                    if (data.content) {
                        displayResults(data.content);

                        // Display the results file name and extension under "Scan Results" text
                        const resultsFileName = document.getElementById("resultsFileName");
                        resultsFileName.textContent = `Scan results for: ${data.filename}`;
                        resultsFileName.style.display = 'block';

                        // Display the associated IOC file name
                        const associatedIocFileName = document.getElementById("associatedIocFileName");
                        if (data.ioc_filename) {
                            associatedIocFileName.textContent = `Associated IOC file: ${data.ioc_filename}`;
                        } else {
                            associatedIocFileName.textContent = "Associated IOC file: N/A";
                        }
                        associatedIocFileName.style.display = 'block';
                    }
                })
                .catch(error => {
                    alert("Error loading results: " + error);
                });
        }


        // Dark mode functionality
        document.addEventListener("DOMContentLoaded", function () {
            const darkModeToggle = document.getElementById("darkModeToggle");
            const darkModeIcon = document.getElementById("darkModeIcon");
            const spinner = document.querySelectorAll(".spinner");

            // Check if dark mode was previously enabled
            if (localStorage.getItem("darkMode") === "enabled") {
                document.body.classList.add("dark-mode");
                darkModeIcon.textContent = "☀️";
                spinner.forEach(spinnerElement => spinnerElement.classList.add("dark-mode"));
            }

            darkModeToggle.addEventListener("click", function () {
                document.body.classList.toggle("dark-mode");

                if (document.body.classList.contains("dark-mode")) {
                    darkModeIcon.textContent = "☀️";
                    localStorage.setItem("darkMode", "enabled");
                    spinner.forEach(spinnerElement => spinnerElement.classList.add("dark-mode"));
                    spinner.forEach(spinnerElement => spinnerElement.classList.remove("light-mode"));
                } else {
                    darkModeIcon.textContent = "🌙";
                    localStorage.setItem("darkMode", "disabled");
                    spinner.forEach(spinnerElement => spinnerElement.classList.add("light-mode"));
                    spinner.forEach(spinnerElement => spinnerElement.classList.remove("dark-mode"));
                }
            });
        });
    </script>
</head>
<body>
    <div id="darkModeToggle">
        <span id="darkModeIcon">🌙</span>
    </div>
    <div class="file-lists">
        <div class="file-box">
            <h5>IOC Files</h5>
            <ul id="iocFilesList"></ul>
        </div>
        <div class="file-box">
            <h5>Results Files</h5>
            <ul id="resultsFilesList"></ul>
        </div>
    </div>

    <script>
        async function fetchFiles() {
            let response = await fetch("/list_files");
            let data = await response.json();

            let iocFilesList = document.getElementById("iocFilesList");
            let resultsFilesList = document.getElementById("resultsFilesList");

            iocFilesList.innerHTML = "";
            resultsFilesList.innerHTML = "";

            // Make IOC filenames clickable to open in a new tab
            data.ioc_files.forEach(file => {
                let li = document.createElement("li");
                let a = document.createElement("a");
                a.href = "#";
                a.textContent = file;
                a.onclick = function() { viewIocFile(file); };
                li.appendChild(a);
                iocFilesList.appendChild(li);
            });

            // Make Results filenames clickable to load results in table
            data.result_files.forEach(file => {
                let li = document.createElement("li");
                let a = document.createElement("a");
                a.href = "#";
                a.textContent = file;
                a.onclick = function() { loadResultsFile(file); };
                li.appendChild(a);
                resultsFilesList.appendChild(li);
            });
        }

        fetchFiles();
    </script>

    <h1>IOC Scanner</h1>
    <h2><a href="/create_ioc">Create a new IOC file</a></h2>

    <button class="main-buttons" onclick="toggleScanOptions('new')">Manual Scan</button>
    <button class="main-buttons" onclick="toggleScanOptions('upload')">Upload Scan Results</button>
    <button class="main-buttons" onclick="toggleScanOptions('fast')">Fast Scan</button>
    <button onclick="openOnlineLookup()">Online Lookup</button>

    <script>
    function openOnlineLookup() {
        window.open("/online_lookup", "_blank");
    }
    </script>

    <div id="newScanSection" style="display:none;">
        <h3>Upload IOC File (.json)</h3>
        <form id="iocUploadForm">
            <input type="file" id="iocFileInput" accept=".json" max="10MB">
            <button type="submit">Upload IOC File</button>
        </form>
        <p id="iocFilePath" style="color: green;"></p>

        <form id="scanForm">
            <h3>Directory path to scan:</h3>
            <div class="path-selector">
                <input type="text" id="directoryPath" placeholder="C:\Path\To\Directory" required>
                <button type="button" id="directoryBrowseButton" class="browse-btn">Choose</button>
            </div>

            <h3>Include subfolders?</h3>
            <input type="checkbox" id="subfolders">

            <button type="submit">Scan</button>
            <div id="scanSpinner" class="spinner" style="display: none;"></div>
        </form>
    </div>

    <div id="uploadResultsSection" style="display:none;">
        <h3>Upload Scan Results File (.json)</h3>
        <form id="uploadResultsForm">
            <input type="file" id="scanResultsInput" accept=".json" max="100MB">
            <button type="submit">Upload Results</button>
        </form>
        <p id="uploadedResultsPath" style="color: green;"></p>
    </div>

    <div id="fastScanSection" style="display:none;">
        <form id="fastScanForm">
            <h3>Directory path to scan:</h3>
            <div class="path-selector">
                <input type="text" id="fastScanDirectoryPath" placeholder="C:\Path\To\Directory" required>
                <button type="button" id="fastScanDirectoryBrowseButton" class="browse-btn">Choose</button>
            </div>

            <h3>Include subfolders?</h3>
            <input type="checkbox" id="fastScanSubfolders">

            <button type="submit">Scan</button>
            <div id="fastScanSpinner" class="spinner" style="display: none;"></div>
        </form>
    </div>

    <h4 id="resultsHeader" style="display:none;">Scan Results</h4>
    <h3 id="resultsFileName" style="display:none; font-weight: bold;"></h3>
    <h3 id="associatedIocFileName" style="display:none; font-weight: bold;"></h3>

    <!-- Results Table -->
    <table id="resultsTable" style="display:none;">
        <thead>
            <tr>
                <th onclick="sortTable(0)">File Path</th>
                <th onclick="sortTable(1)">File Name</th>
                <th onclick="sortTable(2)">File Size (Bytes)</th>
                <th onclick="sortTable(3)">MD5 Hash</th>
                <th onclick="sortTable(4)">SHA1 Hash</th>
                <th onclick="sortTable(5)">SHA256 Hash</th>
                <th onclick="sortTable(6)">Matched Strings</th>
                <th onclick="sortTable(7)">Matched IOC Types</th>
            </tr>
        </thead>
        <tbody>
            <!-- Results will be inserted here -->
        </tbody>
    </table>

    <div id="clearResultsContainer" class="clear-results-container" style="display: none;">
        <button id="clearResultsButton" class="clear-btn">Clear Results</button>
    </div>

    <script>
        let iocFilePath = "";

        document.getElementById("iocUploadForm").onsubmit = async function(event) {
            event.preventDefault();
            let file = document.getElementById("iocFileInput").files[0];
            let formData = new FormData();
            formData.append("file", file);

            let response = await fetch("/upload", { method: "POST", body: formData });
            let data = await response.json();

            if (data.file_path) {
                iocFilePath = data.file_path;
                document.getElementById("iocFilePath").textContent = "Uploaded IOC file: " + iocFilePath;
            }

            alert(data.message || data.error);
        };


        document.getElementById("scanForm").onsubmit = async function(event) {
            event.preventDefault();

            if (!iocFilePath) {
                alert("Please upload an IOC file first!");
                return;
            }

            let directory = document.getElementById("directoryPath").value;
            let subfolders = document.getElementById("subfolders").checked;

            document.getElementById("scanSpinner").style.display = "block";

            let response = await fetch("/scan", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "ioc_file": iocFilePath,
                    "directory": directory,
                    "check_subfolders": subfolders,
                    "ioc_filename": iocFilePath
                })
            });

            let data = await response.json();

            displayResults(data.results);

            // Display the filename of the results under the "Scan Results" text
            const resultsFileName = document.getElementById("resultsFileName");
            resultsFileName.textContent = `Scan results for: ${data.filename}`;
            resultsFileName.style.display = 'block';

            // Display the associated IOC file name
            const associatedIocFileName = document.getElementById("associatedIocFileName");
            associatedIocFileName.textContent = `Associated IOC file: ${data.ioc_filename}`;
            associatedIocFileName.style.display = 'block';

            await fetchFiles()

            document.getElementById("scanSpinner").style.display = "none";
        };


        // Fetch directory data from the flask for "manual scan" section
        document.getElementById('directoryBrowseButton').addEventListener('click', async () => {
            try {
                const response = await fetch('/select_directory');
                const data = await response.json();

                if (data.path) {
                    document.getElementById('directoryPath').value = data.path;
                }
            } catch (error) {
                console.error('Error selecting directory:', error);
                alert('Error: Could not open directory dialog. Please enter path manually.');
            }
        });


        document.getElementById("uploadResultsForm").onsubmit = async function(event) {
            event.preventDefault();
            let file = document.getElementById("scanResultsInput").files[0];
            let formData = new FormData();
            formData.append("file", file);

            let response = await fetch("/upload_scan_results", { method: "POST", body: formData });
            let data = await response.json();

            if (data.file_path) {
                document.getElementById("uploadedResultsPath").textContent = "Uploaded scan results file: " + data.file_path;
            }

            if (data.results) {
                // Display the filename of the results under the "Scan Results" text
                const resultsFileName = document.getElementById("resultsFileName");
                resultsFileName.textContent = `Scan results for: ${data.filename}`;
                resultsFileName.style.display = 'block';

                // Display the associated IOC file name
                const associatedIocFileName = document.getElementById("associatedIocFileName");
                associatedIocFileName.textContent = `Associated IOC file: ${data.ioc_filename}`;
                associatedIocFileName.style.display = 'block';

                displayResults(data.results);
            }

            alert(data.message || data.error);
        };


        document.getElementById("fastScanForm").onsubmit = async function(event) {
            event.preventDefault();

            let directory = document.getElementById("fastScanDirectoryPath").value;
            let subfolders = document.getElementById("fastScanSubfolders").checked;

            document.getElementById("fastScanSpinner").style.display = "block";

            try {
             let response = await fetch("/fast_scan", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        "directory": directory,
                        "check_subfolders": subfolders
                    })
                });

                let data = await response.json();

                if (data.error) {
                    alert(data.error);
                    return;
                }

                displayResults(data.results);

                // Display the filename of the results under the "Scan Results" text
                const resultsFileName = document.getElementById("resultsFileName");
                resultsFileName.textContent = `Scan results for: ${data.filename}`;
                resultsFileName.style.display = 'block';

                // Display the associated IOC file name
                const associatedIocFileName = document.getElementById("associatedIocFileName");
                associatedIocFileName.textContent = `Associated IOC file: ${data.ioc_filename}`;
                associatedIocFileName.style.display = 'block';

                await fetchFiles();
            } catch (error) {
                alert("An error occurred during scanning: " + error.message);
            } finally {
                document.getElementById("fastScanSpinner").style.display = "none";
            }
        };

        // Fetch directory data from the flask for "fast scan" section
        document.getElementById('fastScanDirectoryBrowseButton').addEventListener('click', async () => {
            try {
                const response = await fetch('/select_directory');
                const data = await response.json();

                if (data.path) {
                    document.getElementById('fastScanDirectoryPath').value = data.path;
                }
            } catch (error) {
                console.error('Error selecting directory:', error);
                alert('Error: Could not open directory dialog. Please enter path manually.');
            }
        });


        // Function to show/hide clear button based on results table visibility
        function toggleClearButton() {
            const table = document.getElementById('resultsTable');
            const clearContainer = document.getElementById('clearResultsContainer');

            if (table.style.display === 'none' || table.rows.length <= 1) {
                clearContainer.style.display = 'none';
            } else {
                clearContainer.style.display = 'block';
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('clearResultsButton').addEventListener('click', clearResults);
        });
    </script>
</body>
</html>