<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Hash Lookup</title>
    <meta name="author" content="Illia Bulhar">
    <link rel="stylesheet" href="static/css/online-lookup-styles.css">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const darkModeToggle = document.getElementById("darkModeToggle");
            const darkModeIcon = document.getElementById("darkModeIcon");

            // Check if dark mode was previously enabled
            if (localStorage.getItem("darkMode") === "enabled") {
                document.body.classList.add("dark-mode");
                darkModeIcon.textContent = "☀️"; // Change icon to sun
            }

            darkModeToggle.addEventListener("click", function () {
                document.body.classList.toggle("dark-mode");

                if (document.body.classList.contains("dark-mode")) {
                    darkModeIcon.textContent = "☀️"; // Change to sun icon
                    localStorage.setItem("darkMode", "enabled"); // Save state
                } else {
                    darkModeIcon.textContent = "🌙"; // Change to moon icon
                    localStorage.setItem("darkMode", "disabled"); // Save state
                }
            });
        });
    </script>
</head>
<body>
    <div id="darkModeToggle">
        <span id="darkModeIcon">🌙</span>
    </div>
    <h1>Online Hash Lookup</h1>


    <div id="settings-icon">&#9881;</div>

    <div id="overlay" class="hidden">
        <div id="settings-popup" class="hidden">
            <div class="settings-content">
                <h1>Settings</h1>
                <label for="vt-api-key">VirusTotal API Key:</label>
                <input type="text" id="vt-api-key" placeholder="Enter your API key" maxlength="128">
                <br>

                <label for="mb-auth-key">Malwarebazaar Auth Key:</label>
                <input type="text" id="mb-auth-key" placeholder="Enter your auth key" maxlength="128">
                <br>

                <div class="button-container">
                    <button id="save-settings">Save</button>
                    <button id="exit-settings">Exit</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Fetch existing API keys from the server when the settings menu is opened
        async function fetchApiKeys() {
            const response = await fetch('/api/get-keys');
            const data = await response.json();
            document.getElementById("vt-api-key").value = data.vtApiKey;
            document.getElementById("mb-auth-key").value = data.mbAuthKey;
        }

        document.getElementById("settings-icon").addEventListener("click", function () {
            document.getElementById("settings-popup").classList.toggle("active");
            document.getElementById("overlay").classList.toggle("active");

            fetchApiKeys();
        });

        document.getElementById("exit-settings").addEventListener("click", function () {
            document.getElementById("settings-popup").classList.remove("active");
            document.getElementById("overlay").classList.remove("active");
        });

        document.getElementById("save-settings").addEventListener("click", async function () {
            const vtApiKey = document.getElementById("vt-api-key").value;
            const mbAuthKey = document.getElementById("mb-auth-key").value;

            // Send the new API keys to the backend
            const response = await fetch("/api/save-keys", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ vtApiKey, mbAuthKey })
            });

            const data = await response.json();
            alert(data.message);
            document.getElementById("settings-popup").classList.remove("active");
            document.getElementById("overlay").classList.remove("active");
        });
    </script>


    <div class="center-container">
        <input type="text" id="hash-input" placeholder="Enter MD5 or SHA256 hash" maxlength="64">

        <div>
            <h3><input type="checkbox" id="virustotal-checkbox" value="virustotal"> VirusTotal</h3>
            <h3><input type="checkbox" id="malwarebazaar-checkbox" value="malwarebazaar"> MalwareBazaar</h3>
        </div>

        <button id="submit-btn">Submit</button>
        <div id="scanSpinner" class="spinner" style="display: none;"></div>
    </div>


    <!-- VirusTotal Results Table -->
    <div id="virustotal-results-table" style="display:none;">
        <h1>VirusTotal Scan Results</h1>
        <table>
            <tbody id="virustotal-results-body">
                <!-- Data will be inserted here -->
            </tbody>
        </table>
    </div>

    <!-- MalwareBazaar Results Table -->
    <div id="malwarebazaar-results-table" style="display:none;">
        <h1>MalwareBazaar Scan Results</h1>
        <table>
            <tbody id="malwarebazaar-results-body">
                <!-- Data will be inserted here -->
            </tbody>
        </table>
    </div>



    <script>
        document.getElementById("submit-btn").addEventListener("click", function() {
            const hashInput = document.getElementById("hash-input").value.trim();
            const virustotalChecked = document.getElementById("virustotal-checkbox").checked;
            const malwarebazaarChecked = document.getElementById("malwarebazaar-checkbox").checked;

            if (!hashInput) {
                alert("Please enter a hash.");
                return;
            }

            const selectedServices = [];
            if (virustotalChecked) selectedServices.push("virustotal");
            if (malwarebazaarChecked) selectedServices.push("malwarebazaar");

            if (selectedServices.length === 0) {
                alert("Please select at least one service.");
                return;
            }

            // Add scan spinner animation
            document.getElementById("scanSpinner").style.display = "block";

            fetch("/api_lookup", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "hash": hashInput,
                    "services": selectedServices
                })
            })
            .then(response => response.json())
            .then(data => {
                displayResults(data);
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });



        function displayResults(data) {
             if (data.error) {
                alert(data.error);
                return;
            }

            if (!data || (!data.virustotal && !data.malwarebazaar)) {
                alert("No data found.");
                return;
            }

            const virustotalResultsTable = document.getElementById("virustotal-results-table");
            const malwarebazaarResultsTable = document.getElementById("malwarebazaar-results-table");

            // Remove scan spinner animation
            document.getElementById("scanSpinner").style.display = "none";

            // Clear previous results
            document.getElementById("virustotal-results-body").innerHTML = "";
            document.getElementById("malwarebazaar-results-body").innerHTML = "";

            // Process VirusTotal results
            if (data.virustotal) {
                virustotalResultsTable.style.display = "block";
                const vtResults = data.virustotal.file_info.data.attributes;
                const vtResultsBehavior = data.virustotal.behavior.data;
                const vtFields = {
                    "File Size": vtResults.size + " bytes" || "N/A",
                    "MD5 Hash": vtResults.md5 || "N/A",
                    "SHA1 Hash": vtResults.sha1 || "N/A",
                    "SHA256 Hash": vtResults.sha256 || "N/A",
                    "First Submission Date": vtResults.first_submission_date ? new Date(vtResults.first_submission_date * 1000).toISOString().replace("T", " ").replace(".000Z", " UTC") : "N/A",
                    "Last Analysis Date": vtResults.last_analysis_date ? new Date(vtResults.last_analysis_date * 1000).toISOString().replace("T", " ").replace(".000Z", " UTC") : "N/A",
                    "File Type": vtResults.type_description || "N/A",
                    "Detection Ratio": vtResults.last_analysis_stats
                        ? `${vtResults.last_analysis_stats.malicious}/${Object.values(vtResults.last_analysis_stats).reduce((a, b) => a + b, 0)} detected as malicious`
                        : "N/A",
                    "File Reputation Score": vtResults.last_analysis_stats
                        ? `Malicious: ${vtResults.last_analysis_stats.malicious}, Suspicious: ${vtResults.last_analysis_stats.suspicious}, Harmless: ${vtResults.last_analysis_stats.harmless}`
                        : "N/A",
                    "Known Aliases": vtResults.names.join(", ") || "N/A",
                    "File Tags": vtResults.tags ? vtResults.tags.join(", ") : "N/A",
                    "Signer": vtResults.signature_info && vtResults.signature_info.signers
                        ? vtResults.signature_info.signers
                        : "N/A",
                    "Signature Verification": vtResults.signature_info && vtResults.signature_info.verified
                        ? vtResults.signature_info.verified
                        : "N/A",
                    "Submission Count": vtResults.times_submitted ? `${vtResults.times_submitted} times` : "N/A",
                    "Imported Libraries": vtResults.pe_info && vtResults.pe_info.import_list
                        ? vtResults.pe_info.import_list.map(lib => lib.library_name).join(", ")
                        : "N/A",
                    "Suggested Threat Label": vtResults.popular_threat_classification && vtResults.popular_threat_classification.suggested_threat_label
                        ? vtResults.popular_threat_classification.suggested_threat_label
                        : "N/A",
                    "IP Traffic": vtResultsBehavior && vtResultsBehavior.length > 0
                        ? [...new Set(vtResultsBehavior.flatMap(entry => entry.attributes.ip_traffic ? entry.attributes.ip_traffic.map(ip => `${ip.destination_ip}:${ip.destination_port}`): []))].join(", ") || "N/A"
                        : "N/A",
                    "DNS Resolutions": vtResultsBehavior && vtResultsBehavior.length > 0
                        ? [...new Set(vtResultsBehavior.flatMap(entry => entry.attributes.dns_lookups ? entry.attributes.dns_lookups.map(ip => `${ip.hostname} - ${ip.resolved_ips}`): []))].join(", ") || "N/A"
                        : "N/A",
                };

                // Populate VirusTotal results into the table
                const vtResultsBody = document.getElementById("virustotal-results-body");
                for (const [key, value] of Object.entries(vtFields)) {
                    let row = document.createElement("tr");
                    let keyCell = document.createElement("td");
                    keyCell.style.fontWeight = "bold";
                    keyCell.textContent = key + ":";

                    let valueCell = document.createElement("td");
                    valueCell.textContent = value;

                    row.appendChild(keyCell);
                    row.appendChild(valueCell);
                    vtResultsBody.appendChild(row);
                }
            } else {
                virustotalResultsTable.style.display = "none";
            }

            // Process MalwareBazaar results
            if (data.malwarebazaar) {
                malwarebazaarResultsTable.style.display = "block";
                const mbResults = data.malwarebazaar.data[0];
                const mbFields = {
                    "File Name": mbResults.file_name || "N/A",
                    "File Size": mbResults.file_size + " bytes" || "N/A",
                    "MD5 Hash": mbResults.md5_hash || "N/A",
                    "SHA1 Hash": mbResults.sha1_hash || "N/A",
                    "SHA256 Hash": mbResults.sha256_hash || "N/A",
                    "Signature": mbResults.signature || "N/A",
                    "First Seen": mbResults.first_seen || "N/A",
                    "Last Seen": mbResults.last_seen || "N/A",
                    "File Type": mbResults.file_type || "N/A",
                    "MIME Type": mbResults.file_type_mime || "N/A",
                    "Delivery Method": mbResults.delivery_method || "N/A",
                    "Comment": mbResults.comment || "N/A",
                    "TrID": mbResults.trid ? mbResults.trid.join(", ") : "N/A",
                    "Origin Country": mbResults.origin_country || "N/A",
                    "Reporter": mbResults.reporter || "N/A",
                    "Tags": mbResults.tags ? mbResults.tags.join(", ") : "N/A"
                };

                // Populate MalwareBazaar results into the table
                const mbResultsBody = document.getElementById("malwarebazaar-results-body");
                for (const [key, value] of Object.entries(mbFields)) {
                    let row = document.createElement("tr");
                    let keyCell = document.createElement("td");
                    keyCell.style.fontWeight = "bold";
                    keyCell.textContent = key + ":";

                    let valueCell = document.createElement("td");
                    valueCell.textContent = value;

                    row.appendChild(keyCell);
                    row.appendChild(valueCell);
                    mbResultsBody.appendChild(row);
                }
            } else {
                malwarebazaarResultsTable.style.display = "none";
            }
        }
    </script>


</body>
</html>